header{
    background-color: $color-background-header;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 63px;
    position: relative;
}
.header-arrow{
    font-size: $font-size-arrow;
    position: absolute;
    top: 22px;
    left: 3%;
}