* {
  padding: 0;
  margin: 0;
  font-weight: 400;
}

a {
  color: initial;
  text-decoration: none;
}

h1 {
  font-weight: 900;
  font-size: 1.7em;
}

h2 {
  font-size: 1em;
}

h3 {
  font-size: 2em;
}

p {
  font-size: 0.9em;
}

.bolder {
  font-weight: bolder;
}

* {
  font-family: "Roboto", sans-serif;
}

.brand-font {
  font-family: "Shrikhand", sans-serif;
}

.logo-font-size {
  font-size: 2em;
}

header {
  background-color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 63px;
  position: relative;
}

.header-arrow {
  font-size: 1.5em;
  position: absolute;
  top: 22px;
  left: 3%;
}

footer {
  background-color: #353535;
  color: #fff;
  padding-bottom: 30px;
}
footer .footer__container {
  margin-left: 25px;
  line-height: 25px;
}
footer .footer__container a {
  color: #fff;
}
footer .footer__container a :hover {
  cursor: pointer;
}
footer .footer__container > p:first-child {
  font-size: 1em;
  width: 100px;
  height: auto;
  color: #fff;
  padding: 1% 0;
}
footer .footer__container a {
  display: flex;
  flex-direction: row;
}
footer .footer__container a i {
  margin-right: 10px;
}

.location {
  height: 50px;
  background-color: #eaeaea;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0px 4px 12px -9px #353535;
}
.location i {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.location input {
  border: none;
  outline: none;
  background-color: #eaeaea;
  font-weight: bolder;
  font-size: 1em;
  width: 110px;
}
.location form {
  width: auto;
}

.presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #f6f6f6;
}
.presentation h1 {
  padding: 50px 0 25px 0;
}
.presentation h2 {
  padding: 0 0 34px 0;
}
.presentation__margin {
  margin-left: 10%;
  margin-right: 10%;
}

.fonctionnement {
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fonctionnement__header {
  padding: 60px 15px 30px 15px;
}
@media all and (max-width: 375px) {
  .fonctionnement__header {
    align-self: flex-start;
  }
}

.reservation__btn {
  cursor: pointer;
  box-shadow: 0 0 3px 1px #b1b0b0;
  font-weight: bolder;
  background: linear-gradient(#FF79DA, #9356DC);
  margin-bottom: 60px;
  color: #fff;
  min-width: 200px;
  padding: 22px;
  border-radius: 42px;
  text-align: center;
  display: inline-block;
  transition: ease-in-out 0.2s;
}

.reservation__btn:hover {
  transform: scale(1.05);
  background: linear-gradient(#ff8de0, #9e67e0);
  box-shadow: 0 0 6px 1px #b1b0b0;
}

.title-uppercase {
  text-transform: uppercase;
}

.arrow {
  color: black;
  font-size: 1.5em;
  position: absolute;
  top: 28%;
  left: 7%;
}

.menu {
  box-shadow: inset 0px 4px 12px -9px #353535;
  background: #F6F6F6;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.3fr 1.1fr 1.1fr 0.3fr;
  gap: 20px 0px;
  grid-template-areas: "title title" "img entrees" "plats desserts" "commander commander";
  justify-items: center;
  align-items: center;
}
.menu > .reservation__btn {
  margin: 50px 0 80px 0;
}
@media all and (max-width: 425px) {
  .menu {
    display: flex;
    flex-direction: column;
  }
}

.menu__img {
  border-radius: 20px;
  width: 90%;
  max-height: 320px;
  object-fit: cover;
  grid-area: img;
}
@media all and (min-width: 769px) {
  .menu__img {
    width: 75%;
  }
}
@media all and (max-width: 425px) {
  .menu__img {
    width: 100%;
    border-radius: 0;
    overflow: hidden;
  }
}

.menu__title {
  width: 100%;
  margin-top: 45px;
  grid-area: title;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: "text icon";
  align-items: center;
}
.menu__title i {
  font-size: 1.6em;
}
@media all and (max-width: 425px) {
  .menu__title {
    display: flex;
    justify-content: space-around;
    background: #f6f6f6;
    padding-top: 10px;
    margin-top: -50px;
    border-radius: 31px 31px 0 0px;
  }
}

.text {
  justify-self: center;
  grid-area: text;
}

.icon {
  justify-self: flex-end;
  margin-right: 10%;
  grid-area: icon;
}
@media all and (max-width: 425px) {
  .icon {
    margin: 0;
  }
}

.commander {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  grid-area: commander;
}

.menu__parts {
  width: 90%;
}
.menu__parts :nth-of-type(n+2) > div {
  overflow: hidden;
}
.menu__parts :nth-of-type(n+2):hover .menu__parts__detail__btn {
  width: 75px;
  transform: scaleX(1);
}
.menu__parts :nth-of-type(n+2):hover .menu__parts__detail__btn--icon {
  transform: rotate(1turn);
}
.menu__parts__title {
  margin-bottom: 14px;
}
.menu__parts__title ::after {
  margin-top: 6px;
  content: "";
  display: flex;
  flex-direction: column;
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
  margin-bottom: 15px;
}
.menu__parts__detail {
  background-color: #FFF;
  display: flex;
  border-radius: 15px;
  box-shadow: 0px 0px 12px 1px #d9d9d9;
  margin-bottom: 15px;
  overflow: hidden;
}
.menu__parts__detail .test-128 {
  overflow: hidden;
}
.menu__parts__detail > div:first-child > p, .menu__parts__detail > div > div p:first-child {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: inherit;
}
.menu__parts__detail > div:first-child {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
}
.menu__parts__detail > div > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
}
.menu__parts__detail__btn {
  width: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #99E2D0;
  color: white;
  transform: scaleX(0);
  transition: 0.5s;
  transform-origin: 100% 50%;
}
.menu__parts__detail__btn--icon {
  transition: 0.5s linear;
}

.entrees {
  grid-area: entrees;
}

.plats {
  grid-area: plats;
}

.desserts {
  grid-area: desserts;
}

.animation-delay1 {
  animation: delay-1 0.8s ease-in;
}

.animation-delay2 {
  animation: delay-2 0.8s ease-in;
}

.animation-delay3 {
  animation: delay-3 0.8s ease-in;
}

.animation-delay4 {
  animation: delay-4 0.8s ease-in;
}

@keyframes delay-1 {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 1;
  }
}
@keyframes delay-2 {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 0;
  }
  66% {
    opacity: 1;
  }
}
@keyframes delay-3 {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fonctionnement__container {
  height: 73px;
  background-color: #f6f6f6;
  border-radius: 20px;
  box-shadow: 0px 4px 11px 2px #d9d9d9;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}
.fonctionnement__container__icon {
  padding-left: 37px;
  padding-right: 28px;
  display: flex;
  justify-content: center;
}
.fonctionnement__container__number {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  position: absolute;
  top: 25px;
  left: -11px;
  background-color: #9356DC;
  color: #fff;
}

ul {
  width: 90%;
  max-width: 375px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

li:hover {
  background-color: #f5edff;
}
li:hover i {
  color: #9356DC;
}

.restaurants-liste {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #eaeaea;
  padding-bottom: 65px;
}
.restaurants-liste__title {
  padding: 70px 5% 25px 5%;
}
.restaurants-liste__container {
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
  justify-content: space-evenly;
}
.restaurants-liste__container > a {
  position: relative;
}

.carte {
  box-shadow: 0px 3px 25px 3px #d9d9d9;
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 335px;
  width: 100%;
}
.carte a {
  display: flex;
}
.carte__img {
  width: 100%;
  height: 175px;
  object-fit: cover;
  object-position: 0 62%;
  border-radius: 10px 10px 0 0;
}
.carte__footer {
  max-width: 335px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 0 0 10px 10px;
}
.carte__footer__text {
  padding: 10px;
  line-height: 1.4;
}
.carte__footer__icon {
  transition: 1s;
  padding: 20px;
  transform: opacity ease-in-out;
  font-size: 24px;
}
.carte__footer__icon :last-child {
  display: none;
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.carte__footer__icon:hover :first-child {
  display: none;
}
.carte__footer__icon:hover :last-child {
  display: block;
}
.carte__nouveau {
  position: absolute;
  top: 13px;
  right: 13px;
  width: 80px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #99e2d0;
  color: #008766;
  font-weight: bolder;
}

@media all and (max-width: 375px) {
  .restaurants-liste-margin {
    margin-left: 5%;
    margin-right: 5%;
  }
}
.loader {
  opacity: 0;
  background: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  animation-name: loader;
  animation-duration: 3s;
  z-index: -1000;
  gap: 20px;
  width: 100vw;
}
@keyframes loader {
  0% {
    z-index: 5;
    opacity: 1;
  }
  99% {
    z-index: 5;
    opacity: 1;
  }
  100% {
    z-index: -1000;
    opacity: 0;
  }
}

.loader-img {
  width: 60%;
  gap: 20px;
}
@media all and (min-width: 376px) {
  .loader-img {
    max-width: 33%;
  }
}

.loader-spinners {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.loader__parts--1, .loader__parts--2, .loader__parts--3 {
  opacity: 0;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  animation: spinners 3s ease-in-out;
  transition-duration: 3s;
}
@keyframes spinners {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.loader__parts--1 {
  background: #9356DC;
}

.loader__parts--2 {
  background: #FF79DA;
}

.loader__parts--3 {
  background: #99E2D0;
}

/*# sourceMappingURL=style.css.map */
