.menu__parts{
    width: 90%;
    :nth-of-type(n+2) > div{
        overflow: hidden;
    }
    :nth-of-type(n+2):hover{
        .menu__parts__detail__btn{
            width: 75px;
            transform: scaleX(1);
            &--icon{
                transform: rotate(1turn);
            }
        }
    }
    &__title{
            ::after{
                margin-top: 6px;
                content: "";
                display: flex;
                flex-direction: column;
                width: 40px;
                height: 3px;
                background-color: $color-soulignement;
                margin-bottom: 15px;
                } 
            margin-bottom: 14px;
            }
        &__detail{
            background-color: #FFF;
            display: flex;
            border-radius: 15px;
            box-shadow: 0px 0px 12px 1px $color-box-shadow; 
            margin-bottom: 15px;
            overflow: hidden;
            > div:first-child > p, > div > div p:first-child{
                white-space: nowrap; 
                text-overflow: ellipsis;
                overflow: inherit;
            }
    
            > div:first-child{
                display: flex;
                flex-direction: column;
                width: 100%;
                padding: 10px;
            }
            > div > div {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                overflow: hidden;
            }
            
        &__btn{
            width: 0px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: $color-tertiary;
            color: white;
            transform: scaleX(0);
            transition: 0.5s;
            transform-origin: 100% 50%;
            &--icon{
                transition: 0.5s linear;
            }       
        }
    }
}

.entrees { 
    grid-area: entrees; 
}
.plats { 
    grid-area: plats; 
}
.desserts { 
    grid-area: desserts; 
}

$delay-menu: 2s;
.animation-retard-1{
    animation: fade-in-1 $delay-menu both;
}
.animation-retard-2{
    animation: fade-in-2 $delay-menu both;
    animation-delay: $delay-menu / 4;
}
.animation-retard-3{
    animation: fade-in-3 $delay-menu both;
    animation-delay: $delay-menu / 2;
}



@keyframes fade-in-1{
    0%{
        opacity: 0;
    }
    33%{
        opacity: 1;
    }
}
@keyframes fade-in-2{
    0%{
        opacity: 0;
    }
    66%{
        opacity: 1;
    }
}
@keyframes fade-in-3{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


