.title-uppercase{
    text-transform: uppercase; 
}
.arrow{
    color: black;
    font-size: 1.5em;
    position: absolute;
    top: 28%;
    left: 7%;
}
.menu{
    box-shadow: inset 0px 4px 12px -9px $color-background-footer;
    background: #F6F6F6;
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 0.3fr 1.1fr 1.1fr 0.3fr; 
    gap: 20px 0px; 
    grid-template-areas: 
    "title title"
    "img entrees"
    "plats desserts"
    "commander commander";
    justify-items: center;
    align-items: center;
    > .reservation__btn{
        margin: 50px 0 80px 0;
    }
    @media all and (max-width:425px){
        display: flex;
        flex-direction: column;
    }
}
.menu__img{
    border-radius: 20px;
    width: 90%;
    max-height: 320px;
    object-fit: cover;
    grid-area: img;
    @media all and (min-width: 769px){
        width: 75%;
    }
    @media all and (max-width: 425px){
        width: 100%;
        border-radius: 0;
        overflow: hidden;
    }
}
.menu__title{
    width: 100%;
    margin-top: 45px;
    grid-area: title;
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
    "text icon"; 
    align-items: center;
        i{
            font-size: 1.6em;   
        }
    @media all and (max-width:425px){
        display: flex;
        justify-content: space-around;
        background: $color-background-1;
        padding-top: 10px;
        margin-top: -50px;
        border-radius: 31px 31px 0 0px;
    }
    }
.text {
    justify-self: center;
    grid-area: text; 
}
.icon { 
    justify-self: flex-end;
    margin-right: 10%;
    grid-area: icon;
    @media all and (max-width:425px){
        margin:0;
    }
}
.commander{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    grid-area: commander;
}