.fonctionnement__container{
    width: 325px;
    background-color: $color-background-1;
    border-radius: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 11px 2px $color-box-shadow;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    &__text{
        padding: 35px 0 35px 0;
    }
    &__icon{
        padding-left: 37px;
        padding-right: 28px;
        display: flex;
        justify-content: center;
    }
    &__number{
        width: 25px;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        position: absolute;
        top: 32px;
        left: -11px;
        background-color: $color-primary;
        color: $color-text-2;
    }
}
li:hover {
        background-color: $color-background-2;
        i{
            color: $color-primary;
        }
}