$loader-time: 3s;
.loader{
    opacity: 0;
    background: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    animation-name: loader; 
    animation-duration: $loader-time;
    z-index: -1;
    gap: 20px;
    width: 100vw;
    @keyframes loader{
        0%{
            z-index: 5;
            opacity: 1; 
        }
        99%{
            z-index: 5;
            opacity: 1;
        }
        100%{
            z-index: -1;
            opacity: 0;
        }
    }

}
.loader-img{
    width: 60%;
    gap: 20px;
    @media all and (min-width: 376px){
        max-width: 33%;
    }
}
.loader-spinners{
    display: flex;
    flex-direction: row;
    gap: 5px;
}


.loader__parts--1, .loader__parts--2, .loader__parts--3{
    opacity: 0;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    animation: spinners $loader-time ease-in-out;
    transition-duration: $loader-time;
    @keyframes spinners{
        0%{
            opacity: 0;            
        }
        15%{
            opacity: 1;
        }
        85%{
            opacity: 1;
        }
        100%{
            opacity: 0;
        }
    }
}
$spinner-time: 0.3s;
.loader__parts--1{
    background: $color-primary;
    
}
.loader__parts--2{
    background: $color-secondary;
    }
.loader__parts--3{
    background: $color-tertiary;
    }



